* { box-sizing: border-box; }
html { font-size: 62.5%; }
body {
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100%;

  font-size: 2rem;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
}
