@mixin debug ($color: red) {
  outline: 1px solid $color;
}

@mixin easing ($duration: 100ms, $property: all){
  -webkit-transition: $property $duration $ease;
     -moz-transition: $property $duration $ease;
      -ms-transition: $property $duration $ease;
       -o-transition: $property $duration $ease;
          transition: $property $duration $ease;
}

@mixin no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@mixin spinner ($size: 5rem, $thickness: 1rem, $foreground: $white, $background: transparent, $speed: 1s) {
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  content: '';

  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;

  width: $size - $thickness * 2;
  height: $size - $thickness * 2;

  border: $thickness solid $background;
  border-top: $thickness solid $foreground;
  border-left: $thickness solid $foreground;
  border-radius: 50%;
  animation: spin $speed linear infinite;
}
