.map-box {
  position: fixed;
  line-height: 0;
  display: inline-block;

  width: 100vh;

  svg {
    width: 100vh;
    height: 100vh;
    background: #353535;

    #eau {
      fill: rgba(255, 255, 255, 0.3);
    }

    #bati {
      fill: #444444;
    }

    #parcelle {
      fill: none;
      stroke: #161616;
      stroke-width: 1px;
    }
  }

  &__overlay,
  &__handles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
