.panoramas-launcher {
  display: flex;
  font-size: 0;
  line-height: 0;
  overflow-x: scroll;

  &__panoramas {
    list-style: none;
    white-space: nowrap;
  }

  &__panorama {
    position: relative;
    display: inline-block;
    width: calc(30vw - #{$gutter * 2});
    height: 100%;
    overflow: hidden;
    margin-right: 1rem;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
