.sidebar-panorama-details {
  position: absolute;
  top: 30vw;
  left: 0;
  bottom: 0;
  right: 0;
  background: $black;
  z-index: 10;
  padding: $gutter;

  animation: fadeIn 300ms $ease;

  &__close {
    position: fixed;
    right: $gutter;
    top: $gutter;
    font-size: 6rem;
    text-decoration: none;
    color: $white;
  }

  &__close:hover {
    color: $accent;
  }

  &__properties {}

  &__properties li {
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  &__properties li::before {
    content: attr(data-label)' :';
    font-size: small;
    display: block;
  }

  &__properties li[data-unit]::after {
    content: '\00a0'attr(data-unit);
  }
}
